<div class="body">
    <div class="list-buttons">
        <div class="button">
            <img src="../../../assets/book.JPG" alt="Icon">
            <p>Overview</p>
        </div>
        <div class="button">
            <img src="../../../assets/book.JPG" alt="Icon">
            <p>Read</p>
        </div>
        <div class="button">
            <img src="../../../assets/book.JPG" alt="Icon">
            <p>Upload</p>
        </div>
        <div class="button">
            <img src="../../../assets/book.JPG" alt="Icon">
            <p>Review</p>
        </div>
    </div>
</div>