stages:
    - backend-test
    - deploy


backend-test:
    stage: backend-test
    image: node:16-alpine
    script:
        - cd src/infer-read-backend/
        - npm install
        - npm test

deploy-railway:
    stage: deploy
    image: ubuntu
    only: 
        - pushes
        - IR-7-82
    script:
        - apt-get update && apt-get install -y curl
        - curl -fsSL https://railway.app/install.sh | sh
        - RAILWAY_TOKEN=$RAILWAY_TOKEN railway run
        - railway up --service=$RAILWAY_SERVICE_NAME -d
