stages:
    - backend-test
    # - fe-unit-test


backend-test:
    stage: backend-test
    image: node:16-alpine
    script:
        - cd src/infer-read-backend/
        - npm install
        - npm test

# fe-unit-test:
#     stage: fe-unit-test
#     image: node:sass
#     script:
#         - cd src/infer-read-frontend/
#         - npm install
#         - ng test --progress=false --watch=false
