.DS_Store
src/infer-read-nlp/text
src/infer-read-nlp/nlp/lib
src/infer-read-nlp/nlp/bin
src/infer-read-nlp/nlp/include
src/infer-read-nlp/nlp/__pycache__
src/infer-read-nlp/nlp/pyvenv.cfg
src/infer-read-nlp/nlp/.ipynb_checkpoints
src/infer-read-nlp/nlp/etc
src/infer-read-nlp/nlp/share
src/infer-read-nlp/nlp/bert-base-irish-cased-v1
src/.idea/
src/infer-read-nlp/nlp/Untitled.ipynb
.env
src/infer-read-nlp/nlp/routers/__pycache__
src/infer-read-nlp/nlp/utility/__pycache__

