.DS_Store
src/ocr/text
src/ocr/nlp/lib
src/ocr/nlp/bin
src/ocr/nlp/include
src/ocr/nlp/__pycache__
src/ocr/nlp/pyvenv.cfg
src/ocr/nlp/.ipynb_checkpoints
src/ocr/nlp/etc
src/ocr/nlp/share
src/ocr/nlp/bert-base-irish-cased-v1/
src/.idea/