@use '../../../../sass/variables' as vars;

.body {
  display: flex;
  background-color: #f3f2ef;
  padding-top: 1rem;
  font-family: vars.$ir-font-secondary;

  .modal {
    margin: auto;
  }

  .RHS {
    height: 90vh;
    width: 90vw;
    display: flex;
    margin-left: 1vw;
    margin-top: 0.5vh;

    .items-available {
      background-color: #ffffff;
      max-height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      width: 60vw;
      margin-right: 1.5vw;
      border-radius: 0.75vw;
      padding-left: 2vw;
      padding-right: 2vw;
    }

    .filtering-body {
      background-color: #ffffff;
      height: 90vh;
      width: 10vw;
      border-radius: 0.75vw;
    }

    .menus {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: sticky;
      top: 0;
      background-color: #fff;
    }

    .upload {
      margin-top: 0.5rem;
      margin-right: 0.5rem;
    }

    .upload-label {
      margin-top: 0.5rem;
      padding-top: 0.5rem;
      cursor: pointer;
    }
  }
}
