<form #authForm="ngForm" class="landing__form">
            <div class="landing__form-inputs">
                <input 
                class="landing__form-input" 
                type="email" 
                placeholder="Email"
                id="email"
                name="email"
                ngModel
                required
                email>
                <input 
                class="landing__form-input" 
                type="password" 
                placeholder="Password"
                id="password"
                name="password"
                ngModel
                required
                password
                >
            </div>
            <div class="landing__form-buttons">
                <button 
                class="landing__form-button"
                type="submit"
                [disabled]="authForm.invalid"
                (click)="onSignUp(authForm)">
                Sign up
                </button>
                <button 
                class="landing__form-button"
                type="submit"
                [disabled]="authForm.invalid"
                (click)="onLogIn(authForm)"
                >Log in</button>
            </div>
        </form>
