<div class="body-container">
  <div *ngIf="error">
    {{ error }}
  </div>
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="form-group">
    <h2> Welcome to your professional community </h2>
  <form #authForm="ngForm" *ngIf="!isLoading">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      class="form-control"
      ngModel
      name="email"
      required
      email
    />
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        ngModel
        name="password"
        required
      />
    </div>
    <div>
      <button
        class="signup-button"
        type="submit"
        [disabled]="authForm.invalid"
        (click)="onSignUp(authForm)"
      >
        Sign-up
      </button>
      |
      <button
        class="login-button"
        type="submit"
        [disabled]="authForm.invalid"
        (click)="onLogIn(authForm)"
      >
        Sign in
      </button>
    </div>
  </form></div>
  <div class="photo-ad">
    <img src="./../../../assets/test-login-ad.png" alt="ads" />
  </div>
</div>
