<div class="body">
  <div class="logo-brand">
    <img
      class="logo-img"
      src="../../../assets/IR-Logo.png"
      alt="Infer-Read Logo"
    />
    <a>
      <h1>Infer-Read</h1>
    </a>
  </div>

  <div *ngIf="currentPage != '/'" class="RHS-dropdown">
    <div class="flag-image-container">
      <img
        class="flag-image"
        *ngIf="(userConfig$ | async)?.userConfig.selectedLanguage == 'Irish'"
        src="../../../assets/irish-flag.jpg"
        alt="Irish Flag"
      />
      <img
        class="flag-image"
        *ngIf="(userConfig$ | async)?.userConfig.selectedLanguage == 'French'"
        src="../../../assets/french-flag.jpg"
        alt="French Flag"
      />
      <h2>{{ (userConfig$ | async)?.userConfig.selectedLanguage }}</h2>
    </div>
      <div class="user-profile"  [routerLink]="'/user'">
        <h2>{{ (user$ |async)?.email}}</h2>
    </div>
  </div>
</div>
