<div class="body">
  <app-nav-bar-general></app-nav-bar-general>
  <div class="RHS">
    <div class="items-available">
      <div *ngFor="let item of filteredDocuments" class="item">
        <div class="doc-info" (click)="readDocument(item._id)">
          <img src="../../../assets/pdf-icon.png">
          <div class="">
          <h1 class="item-title">{{ item.title }}</h1>
          <h2 class="item-desc">
            {{ item.pages.length }} pages ● {{ item.language }}
          </h2>
        </div></div>
        <button
          *ngIf="isDeleteDocument"
          class="delete-doc-btn"
          type="button"
          id="delete"
          (click)="deleteDocument(item._id)"
        >
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
      <dx-speed-dial-action
        icon="add"
        label="Add document"
        [index]="1"
        (onClick)="onAddDocument()"
      >
      </dx-speed-dial-action>
      <dx-speed-dial-action
        *ngIf="!isDeleteDocument"
        icon="trash"
        label="Delete mode"
        [index]="2"
        (onClick)="onDeleteDocNav()"
      >
      </dx-speed-dial-action>
      <dx-speed-dial-action
        *ngIf="isDeleteDocument"
        icon="trash"
        label="Exit delete mode"
        [index]="2"
        (onClick)="onCancelDeleteDocNav()"
      >
      </dx-speed-dial-action>
    </div>
    <div class="filtering-body">
      <h3>All documents filtered to {{ this.selectedLanguage }}, to access other language documents reconfigure settings on User Page.</h3>
    </div>
    <dx-popup
      [width]="300"
      [height]="280"
      [showTitle]="true"
      title="Add Document"
      [dragEnabled]="true"
      [hideOnOutsideClick]="true"
      [showCloseButton]="true"
      [(visible)]="addDocumentVisible"
    >
      <input
        type="file"
        class="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
      />
      <div *dxTemplate="let data of 'content'">
        <div class="upload-selecton">
          <p>Document being uploaded as {{ this.selectedLanguage }}</p>
          <p>Click button to select document</p>
          <button class="select-doc-btn" (click)="fileUpload.click()">
            <p>{{ fileName || "Please upload a document" }}</p>
          </button>
        </div>
        {{ text }}
        <button
          [disabled]="!isSubmitAvailable"
          class="submit-doc-btn"
          (click)="onFileSubmit()"
        >
          <p>Submit</p>
        </button>
      </div>
    </dx-popup>
  </div>
</div>
