<app-header/>
<div class="body">
  <app-nav-bar-general></app-nav-bar-general>
  <div class="RHS">
    <!-- <input
    type="file"
    class="file-input"
    (change)="onFileSelected($event)"
    #fileUpload
  />
    <div *ngIf="this.isSubmitAvailable" class="upload btn">
      <button
        class="submit-doc-btn"
        (click)="onFileSubmit()"
      >
        Upload
      </button>
  </div> -->
    <div class="items-available">
      <div class="filters">
        <app-dropdown [values]="['Last Read', 'Length', 'Title', 'Upload Date']" (selectedValueChange)="sortDocuments($event)"></app-dropdown>
      </div>
      <div *ngFor="let doc of filteredDocuments" class="item">
        <app-reading-card [title]="doc.title" [length]="doc.pages.length" [language]="doc.language" [id]="doc._id"/>
      </div>
    </div>
  </div>
</div>
