<app-header/>
<div class="body">
  <app-nav-bar-general></app-nav-bar-general>
  <div class="RHS">
    <!-- <input
    type="file"
    class="file-input"
    (change)="onFileSelected($event)"
    #fileUpload
  />
    <div *ngIf="this.isSubmitAvailable" class="upload btn">
      <button
        class="submit-doc-btn"
        (click)="onFileSubmit()"
      >
        Upload
      </button>
  </div> -->
    <div class="items-available">
      <div *ngFor="let doc of filteredDocuments" class="item">
        <!-- <div class="doc-info" (click)="readDocument(doc._id)">
          <img src="../../../assets/pdf-icon.png">
          <div class="">
          <h1 class="item-title">{{ doc.title }}</h1>
          <h2 class="item-desc">
            {{ doc.pages.length }} pages ● {{ doc.language }}
          </h2> -->
          <app-reading-card [title]="doc.title" [length]="doc.pages.length" [language]="doc.language" [id]="doc._id"/>
      </div>
    </div>
  </div>
</div>
