.body {
  display: flex;
  background-color: #f3f2ef;
  .RHS {
    height: 90vh;
    width: 90vw;
    display: flex;
    margin-left: 1vw;
    margin-top: 0.5vh;

    .items-available {
      background-color: #ffffff;
      max-height: 90vh;
      overflow-x: hidden;
      overflow-y: auto;
      width: 75vw;
      margin-right: 1.5vw;
      border-radius: 0.75vw;
      padding-left: 2vw;
      padding-right: 2vw;
      .item {
        margin-top: 1vh;
        border-radius: 0.75vw;
        background-color: #f3f2ef;
        padding-left: 1vw;
        padding-right: 1vw;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        .delete-doc-btn {
          color: #000000;
          font-size: 4rem;
          border: 0;
        }
      }
    }
    .filtering-body {
      background-color: #ffffff;
      height: 90vh;
      width: 10vw;
      border-radius: 0.75vw;
    }
  }
}

.select-doc-btn {
  // background-color: red;
}
.submit-doc-btn {
  background: #45b11e;
	color: white;
	border-style: outset;
	text-shadow: none;
}
