.body {
  height: 81.75vh;
  width: 10vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 2vw;

  .list-buttons {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 81.75vh;
    width: 10vw;
    border-radius: 0.75vw;
    justify-content: space-around;
    align-items: center;
    :hover {
      color: #ee8f1d;
    }
    .button {
      width: 15vw; //BMcQ Comment: This is most likely problematic
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      p {
        font-size: 2rem;
      }
      svg {
        margin-left: 6vw;
        // fill: #EE8F1D;
      }
    }
    .border-line {
      width: 75%;
      border: 1px black solid;
    }
  }
}

.active-link {
  color: #f5aa4e; /* white color */
}
