<div class="body">
  <div class="list-buttons">
    <div
      id="overview-btn"
      class="button"
      [routerLink]="'/overview'"
      routerLinkActive="active-link"
    >
      <fa-icon size="4x" [icon]="faBook"></fa-icon>
      <h4>Overview</h4>
    </div>
    <div
      id="review-btn"
      class="button"
      [routerLink]="'/review'"
      routerLinkActive="active-link"
    >
      <fa-icon size="4x" [icon]="faEraser"></fa-icon>
      <h4>Review</h4>
    </div>
    <div id="review-btn" class="button" (click)="onLogout()">
      <fa-icon size="4x" [icon]="faSignOut"></fa-icon>
      <h4>Logout</h4>
    </div>
  </div>
</div>
