<div class="body">
  <div class="list-buttons">
    <div id="overview-btn" class="button" [routerLink]="'/overview'">
      <fa-icon size="5x" [icon]="faFolderOpen"></fa-icon>
      <p>Overview</p>
    </div>
    <div id="read-btn" class="button" [routerLink]="'/read'">
      <fa-icon size="5x" [icon]="faBook"></fa-icon>
      <p>Read</p>
    </div>
    <div id="review-btn" class="button" [routerLink]="'/review'">
      <fa-icon size="5x" [icon]="faEraser"></fa-icon>
      <p>Review</p>
    </div>
    <div id="review-btn" class="button" (click)="onLogout()">
      <fa-icon size="5x" [icon]="faSignOut"></fa-icon>
      <p>Logout</p>
    </div>
  </div>
</div>
