<div class="body">
  <div class="list-buttons">
    <div
      id="overview-btn"
      class="button"
      [routerLink]="'/overview'"
      routerLinkActive="active-link"
    >
      <fa-icon size="5x" [icon]="faBook"></fa-icon>
      <h3>Overview</h3>
    </div>
    <div
      id="review-btn"
      class="button"
      [routerLink]="'/review'"
      routerLinkActive="active-link"
    >
      <fa-icon size="5x" [icon]="faEraser"></fa-icon>
      <h3>Review</h3>
    </div>
    <div id="review-btn" class="button" (click)="onLogout()">
      <fa-icon size="5x" [icon]="faSignOut"></fa-icon>
      <h3>Logout</h3>
    </div>
  </div>
</div>
