

<!-- Import Logo Image -> set beside <h1>-->
<header class="header flex-group">
    <div class="logo flex-group">
        <img src="../../../assets/IR-Logo.png" alt="InferRead Logo - An open book on the screen on of a laptop">
        <h1>InferRead</h1>
    </div>
    <nav>
        <ul>
            <li>Signup/Login</li>
            <li>Features</li>
            <li>Contact Me</li>
        </ul>
    </nav>
</header>

<!-- Home component -> Header + Hero, Feature Section 1 & 2, About Me & Contact --> 