<div class="landing__hero">
<header class="landing__header">
    <h1>InferRead</h1>
</header>

<div class="landing__welcome container">
    <h2 class="landing__welcome-text">
        Learn With Your Favourite Books
    </h2>
    <div class="landing__welcome-column">
    <h3 class="landing__welcome-banner">Hello Text</h3>
    <form class="landing__form">
        <div class="landing__form-inputs">
        <input class="landing__form-input" type="email" placeholder="Email">
        <input class="landing__form-input" type="password" placeholder="Password">
        </div>
        <div class="landing__form-buttons">
        <button class="landing__form-button">Sign up</button>
        <button class="landing__form-button">Log in</button>
        </div>
    </form>
    </div>

</div>
</div>

<div class="landing__features">
    <div class="landing__feature"> 
        <picture>
            <img src="../../../assets/placeholder.png" alt="Inference">
        </picture>
        <p class="landing__feature-text">You need to know between 95-98% of words in a text to be able to comprehend its meaning. This can make reading in your target language daunting.</p>
        <p class="landing__feature-text">InferRead allows you to tackle any text you like in your target language through direct translation & grammatical pointers so you can break away from boring & simple texts on your language journey.</p>
    </div>

    <div class="landing__feature">
        <picture>
            <img src="../../assets/placeholder.png" alt="Revision">
        </picture>
        <p class="landing__feature-text">InferRead stores all of your new vocabulary in a word bank for quick and easy revision later</p>
    </div>
</div>