<div class="landing__hero">
<header class="landing__header">
    <h1>InferRead</h1>
</header>

<div class="landing__welcome container">
    <h2 class="landing__welcome-text">
        Learn with your favourite books
    </h2>
    <div class="landing__welcome-column">
    <h3 class="landing__welcome-banner">Hello Text</h3>
    <form class="landing__form">
        <div class="landing__form-inputs">
        <input class="landing__form-input" type="email" placeholder="email">
        <input class="landing__form-input" type="password" placeholder="password">
        </div>
        <div class="landing__form-buttons">
        <button class="landing__form-button">Sign up</button>
        <button class="landing__form-button">Log in</button>
        </div>
    </form>
    </div>

</div>
</div>

<div class="landing__features">
    <div class="landing__feature"> 
        <picture>
            <img src="" alt="Inference">
        </picture>
        <p class="landing__feature-text">Sample Text</p>
        <p class="landing__feature-text">Sample Text</p>
    </div>

    <div class="landing__feature">
        <picture>
            <img src="" alt="Revision">
        </picture>
        <p class="landing__feature-text">Sample Text</p>
    </div>
</div>