@import "../../../sass/styles.scss";


// Potential Approach to container 
// Set a max-width equal to the current min-width of the breakpoint
// First breakpoint is 320px, start with designing for this, expand to 480px, etc.
// multiply font sizes, paddings etc. with a ratio
// if spacings are set with em, they will adapt to the font size adjustments with the breakpoints

$xs-ratio: 0.625;

.landing__ {
    &hero {
        background-color: $ir-primary;
        height: 100vh;
    }

    &header {
        font-family: $ir-font-primary;
        font-size: calc(getMobileFont($fs-header) * $xs-ratio);
        display: block;
        padding: 0.5em;

        h1 {
            text-align: center;
        }
    }

    &welcome {

        font-family: $ir-font-secondary;
        font-weight: 600;
        min-height: 80%;

        &-text {
            font-size: calc(getMobileFont($fs-welcome) * $xs-ratio);
            text-align: center;
            padding: 1em;
        }

        &-banner {
            font-size: calc(getMobileFont($fs-callout) * $xs-ratio);
            margin: 0 auto;
            width: 80%;
        }

    }

    &form {
        margin: 0 auto;
        width: 80%;

        &-inputs {
            @include flexGroup(column, space-between, space-between);
            gap: 0.5em;
        }

        &-buttons {
            margin: 0.5em auto;
            @include flexGroup(row, space-around, space-between);
            gap: 0.5em;
        }

        &-button {
            @include irButton;
            background-color: $ir-positive;
            width: 50%;
        }

        &-input {
            background-color: $ir-input-fill;
            font-family: $ir-font-secondary, sans-serif;
            font-size: calc(getMobileFont("600") * $xs-ratio);
            // fill: $ir-input-fill;
            stroke-width: 1px;
            stroke: #000;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            padding-left: 0.25em;

            &:hover, &:focus {
                outline: none;
                border: 1px solid $ir-shadow;
                box-shadow: 0px 4px 4px 0px $ir-shadow;
                background-color: $ir-input-focus;
            }
        }



        ::-webkit-input-placeholder {
            font-family: $ir-font-secondary, sans-serif;
            font-size: calc(getMobileFont("600") * $xs-ratio);
            font-weight: 600;
            color: #000;
            padding-left: 0.25em;
        }
    }

    // Section 2 -> Features Showcase

    &features {
        background-color: $ir-secondary;
        color: #FFF;
        font-family: $ir-font-secondary;
        font-size: calc(getMobileFont("500") * $xs-ratio);
    }
}

.container {
    width: 80%;
    max-width: 320px;
    margin: 0 auto;
    border: 2px solid red;
}







// Section 1 - Hero 

// .landing__ {
//     &hero {
//         background-color: $ir-primary;
//         max-width: 100%;
//     }

//     &header {
//             display: block;
//             font-family: $ir-font-primary;
//             margin: 0 auto;
        
//             h1 {
//                 margin: 0;
//                 font-weight: 400;
//                 font-size: getMobileFont('800');
//                 max-width: 33%;
//                 padding: 1rem;
//                 margin: 0 auto;
//                 text-align: center;
//             }
//     }
    

//     &welcome {
//         font-family: $ir-font-secondary;
//         font-weight: 600;
//         max-width: 80%;
//         min-width: 70%;
//         margin: 0 auto;
//         border: 3px solid red;
//         @include flexGroup(column, space-between, center);

            
//         h2 {
//             font-size: getMobileFont("800");
//             padding: 2rem;
//             min-height: 33%;
//         }

//         h3 {
//             font-size: getMobileFont("700");
                
//         }

//         &-column {
//             @include flexGroup(column, center, space-between);
//             margin: 0 auto;
//             padding: 3rem;
//             border: 3px solid black;
//         }
//     }

//     &form {
//         margin: 0;
//         padding: 2rem;
//         border: 3px solid yellow;
//         width: 100%;

//         &-buttons {
//             @include flexGroup(null, space-around, null);
//         }

//         &-inputs {
//             @include flexGroup(column, center, space-around);
//             border: 3px solid orange;

//         }

//         input {
//             width: 100%;
//             margin: 0;
//             padding: 0;

//         }

//         &-button {
//             // background-color: $ir-positive;
//             // font-size: getMobileFont('400');  
//             // font-family: $ir-font-secondary;
//             // font-weight: 600;

//         }
//     }
    
//             // Section 2 - Features Showcase
//     &features {
//         background-color: $ir-secondary;
//         color: rgba(255, 255, 255, 0.9);
//         // display: grid;
//         // grid-template-columns: 
//         // grid-template-rows: 1fr 1fr;
//     }

//     }
// // Desktop Styles
// @media (min-width: $width) {

//     .landing__ {

//     &hero {
//         height: 100vh;
//     }

//     &header {
        
//         h1 {
//             font-size: getDesktopFont('700');
//             padding: 1.5rem;
//             margin: 0 auto;
//         }
//     }

//     &welcome {
//         max-width: 40%;
//         min-height: 50%;
//         @include flexGroup(row, center, center);

//         h2 {
//             font-size: getDesktopFont("900");
//             padding: 3rem;
//             max-width: 11ch;
//         }
//     }
// }
// }