.body {
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: solid black .25vh;

    .logo-brand {
        display: flex;
        width: 15vw;
        text-align: center;
        margin-left: 5vw;
        img {
            height: 6vh;
            width: 5vw;
            display: block;
            border-radius: 20px;
        }
    }

    .chosen-lang {
        width: 5vw;

    }

    .user {
        display: flex;
        width: 20vw;

        img {
            height: 8vh;
            width: 8vw;
        }
    }
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 8vh;
    text-align: center
}