/* You can add global styles to this file, and also import other style files */

// These are the material design scss rules, I disabled them because they look awful and seem to get the viewport totally wrong

body {
  margin: 0;
  padding: 0;
  gap: 0;
}

p {
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(8px + (12 - 8) * ((100vw - 1280px) / (2500 - 1280)));
  font-family: Arial, Helvetica, sans-serif;
  body {
    height: 100%;
  }
}