<div class="landing__feature-section">
    <div class="landing__features">
        <div class="landing__feature one">
            <picture class="one">
                <img class="landing__feature-image" src="../../../assets/placeholder.png" alt="Inference">
            </picture>

            <div class="landing__feature-text one">
                <p class="landing__feature-paragraph">You need to know between 95-98% of words in a text to be able to comprehend its meaning. This can make reading in your target language daunting.</p>
                <p class="landing__feature-paragraph">InferRead allows you to tackle any text you like in your target language through direct translation & grammatical pointers so you can break away from boring & simple texts on your language journey.</p>
            </div>
        </div>
    
        <div class="landing__feature two">
            <p class="landing__feature-text two">InferRead stores all of your new vocabulary in a word bank for quick and easy revision later</p>
            <picture class="two">
                <img class="landing__feature-image" src="../../assets/placeholder.png" alt="Revision">
            </picture>
        </div>
    </div>
</div>
