.body {
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: solid black 0.125vh;

  .logo-brand {
    height: 8vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 6vh;
      width: 5vw;
      display: block;
      line-height: 6vh;
      margin-left: 2vw;
    }
  }
  .RHS-dropdown {
    margin: 1vh 1vw 1vh 0vw;
    height: 6vh;
    //width: 15vw;
  }
}
