@use "../../../../sass/variables" as *;


.body {
  display: flex;
  background-color: #f3f2ef;
  font-family: "Crimson Text", sans-serif;
  .RHS {
    height: 90vh;
    width: 90vw;
    display: flex;
    margin-left: 1vw;
    margin-top: 0.5vh;

    .reading-and-nav {
      .reading-body {
        background-color: #ffffff;
        border: 2px solid #887974;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        line-height: 1.4;
        margin: 0 auto;
        min-height: 80vh;
        max-height: 80vh;
        width: 75vw;
        overflow-x: hidden;
        overflow-y: auto;
        margin-right: 1.5vw;
        border-radius: 0.75vw;
        padding-left: 2vw;
        padding-right: 2vw;

        .reading__div {
          display: contents;
        }
        p {
          font-size: scaleSize(getDesktopFont, "500", "md");
          display: inline-block;
        }
        .reading__words:hover {
          background-color: #f7e8bb;
        }
      }
      .reading-nav {
        display: flex;
        justify-content: space-between;
        height: 10vh;
        width: 75vw;
        align-items: center;
        .nav-btn {
          // background-color: black;
          height: 8vh;
          color: #000000;
          padding: 10px 20px;
          border-radius: 5px;
          border: none;
          cursor: pointer;
        }
      }
    }
    .side-help-info {
      background-color: #ffffff;
      height: 90vh;
      width: 10vw;
      border-radius: 0.75vw;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}
