<div class="body">
  <app-nav-bar-general></app-nav-bar-general>
  <div class="RHS">
    <div class="reading-and-nav">
      <div class="reading-body">
        <p [textContent]="text" (dblclick)="highlight($event)"></p>
      </div>
      <div class="reading-nav">
        <button
          class="nav-btn"
          [disabled]="pageIndex == 0"
          (click)="getPreviousPage()"
        >
          <fa-icon size="3x" [icon]="faChevronLeft"></fa-icon>
          <h3>Back</h3>
        </button>
        <h3>{{pageIndex+1}}</h3>
        <button class="nav-btn" (click)="getNextPage()">
          <fa-icon size="3x" [icon]="faChevronRight"></fa-icon>
          <h3>Next</h3>
        </button>
      </div>
    </div>

    <div
      *ngIf="selectedLanguage == 'French' && wordHelp"
      class="side-help-info"
    >
      <h1>{{ selectedWord }}</h1>
      <h2>{{ "Root: " + wordHelp.root }}</h2>
      <h2>{{ wordHelp.partOfSpeech }}</h2>
      <h3 *ngFor="let feature of wordHelp.morphology | keyvalue">
        {{ disambiguation[feature.value] }}
      </h3>

      <h2 *ngIf="wordHelp.maskedLMPredictions">Contextually viable:</h2>
      <h3 *ngFor="let word of wordHelp.maskedLMPredictions">{{ word }}</h3>
    </div>
    <div *ngIf="selectedLanguage == 'Irish'" class="side-help-info">
      <h1>{{ selectedWord }}</h1>
      <h3 *ngIf="wordHelp.maskedLMPredictions">Contextually viable:</h3>
      <h3 *ngFor="let word of wordHelp.maskedLMPredictions">{{ word }}</h3>
    </div>
  </div>
</div>
